<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Select Device</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/form.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TimelineMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
</head>

<body>
    <div class="hero">
        <div id="container-p5">
            
        </div>
        <div class="hero-content">
            <h1><span class="highlight">Smart Manage</span>
                <br><span>Now or never.<span></h1>
        </div>
    </div>
    <div class="form-center">
        <form action="/setDept" method="POST">
            <div class="form-group">
                <label for="depID" class="text-secondary">
                    <h3>Enter Department ID</h3>
                </label>
                <input class="form-control" type="text" name="depID" id="depID">
            </div>
            <button type="submit" class="btn btn-success">Enter</button>
        </form>
    </div>
    <script src="/static/lib/jquery.min.js"></script>
    <script src="/static/lib/p5/p5.min.js"></script>
    <script src="/static/js/home.js"></script>
</body>

</html>