<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Select Device</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/form.css">
</head>

<body>

  <div class="form-center">
    <form action="/setDept" method="POST">
      <div class="form-group">
        <label for="depID" class="text-secondary"><h3>Enter Department ID</h3></label>
        <input class="form-control" type="text" name="depID" id="depID">
      </div>
      <button type="submit" class="btn btn-success">Enter</button>
    </form>
  </div>

</body>

</html>