<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="/static/lib/p5/p5.min.js"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1 class="mt-4">Network Layout</h1>
        <hr>
        <input type="hidden" id="name" value="{{dev}}">
        <input type="hidden" id="name1" value="{{devPi}}">
        <div id="draw">
        </div>
        <h1 class="mt-4">System Status</h1>
        <hr>
        <div class="card-columns mt-4">
            {% for i in range(0, dev)%}
            <div class="card">
                <img class="card-img-top" src="/static/img/arduino.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Arduino {{i}}</h5>
                    <p class="card-text">Status: <span class="text text-success">Connected</span></p>
                </div>
            </div>
            {%endfor%}
            {% for i in range(0, devPi)%}
            <div class="card">
                <img class="card-img-top" src="/static/img/rasp.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Rasp Pi {{i}}</h5>
                    <p class="card-text">Status: <span class="text text-success">Connected</span></p>
                </div>
            </div>
            {%endfor%}
        </div>
        <h1 class="mt-4">Sensor Data</h1>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <iframe class="embed-responsive-item" width="450" height="260" style="border: 1px solid #cccccc;"
                    src="https://thingspeak.com/channels/745567/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Current+Levels&type=line"></iframe>
            </div>
            <div class="col-md-6">
                <iframe width="450" height="260" style="border: 1px solid #cccccc;"
                    src="https://thingspeak.com/channels/745567/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
            </div>
            <div class="col-md-6">
                <iframe width="450" height="260" style="border: 1px solid #cccccc;"
                    src="https://thingspeak.com/channels/745567/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
            </div>
        </div>
    </div>
    <script src="/static/lib/jquery.min.js"></script>


    <!-- Scripts -->
    <script src="/static/js/sensor.js"></script>
    <script src="/static/js/sketch.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</body>

</html>