<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sketch</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.3/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.4/addons/p5.dom.js"></script>
  <link rel="stylesheet" href="/static/css/vis.css">
</head>
<body>
  <div id="canvasHolder"></div>
  <!-- <div id="checkbox">
    <input type="checkbox" name="floor" value="0">0
    <input type="checkbox" name="floor" value="1">1
    <input type="checkbox" name="floor" value="2">2
    <input type="checkbox" name="floor" value="3">3
    <input type="checkbox" name="floor" value="4">4
    <input type="checkbox" name="floor" value="5">5
    <input type="checkbox" name="floor" value="6">6
    <input type="checkbox" name="floor" value="7">7
  <div> -->
      <script src="/static/js/vis.js"></script>
</body>
</html>